* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}

.messenger-container {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 38fr 1fr ;
    grid-column-start: 2;
    height: auto;
    padding: 2vh;
    background-color: #dcd4cd;
}

.messenger-info {
    display: grid; 
    grid-template-columns: 2fr 6fr 1fr;
    grid-row-start: 2;
    width: 33vw;
    position: fixed;
    bottom: 2vh;
}

.list-message {
    margin-bottom: 2vh;
    display: flex;
    align-items: flex-start;
    width: 33vw;
    height: 92vh;
    overflow-y: auto;
    flex-direction: column-reverse;
}
.tampa {
    background-color: #dcd4cd;
    width: 33vw;
    height: 5vh;
    position: fixed;
    bottom: 0;
    border-bottom: 1px solid black;
}
